.DivChooseBtn {
    max-width: 400px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    
	//visibility: hidden;
   // display: none; // added for hiden items with class "sr-only"


}